.boite6{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20%;
    justify-content: space-between;
}

.boite6 img{
    margin-top: 5%;
    width: auto;
    display: flex;
}

.boite6 h1{
    margin-top: 5%;
    width: 100%;
    border: solid 2px black;
    font-weight: bold;
    font-size: 1cm;
    text-align: center;
    padding-top: 7%;
}

